.card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin: 5px;
    padding: 20px;
}

.container {  
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1.5fr 0.25fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

main { 
    grid-area: 2 / 1 / 5 / 6; 
}

header { 
    background: rgb(2,0,36);
    background: linear-gradient(196deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    grid-area: 1 / 1 / 2 / 6; 

}

footer { 
    grid-area: 5 / 1 / 6 / 6; 
    background: rgb(2,0,36);
    background: linear-gradient(196deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

.search { 
    grid-area: 2 / 1 / 4 / 2; 
}
  
.forecast { 
    grid-area: 4 / 1 / 5 / 6; 
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.forecast .card {
    width: 20%;
}

.weatherDisplay { 
    grid-area: 2 / 2 / 4 / 6; 
}